<launch>

	<arg name="model" default="$(find rviz_sandbox)/urdf/car_model.xacro"/>
	<arg name="rvizconfig" default="$(find rviz_sandbox)/launch/odom_publisher_car_and_cones.rviz" />

	<!-- load urdf-car-model -->
	<param name="car_model" command="$(find xacro)/xacro $(arg model)" />

	<!-- Start odom publisher node   -->
	<node name="odometry_publisher" pkg="rviz_sandbox" type="odometry_publisher" />

	<!-- Start cone publisher node   -->
	<node name="cone_publisher" pkg="rviz_sandbox" type="cone_publisher" />

	<!-- Show in Rviz   -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
